@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,500;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

html {
  font-size: 10px;
}

.spacer {
  height: 1.5rem;
}

.navbar-brand {
  font-size: 2.5rem !important;
  margin: 0 5rem 0 0 !important;
  font-family: 'Fira Sans', sans-serif !important;
}

.navbar-brand span {
  color: #2fa2fa;
}
